
  .dashboard-container {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    gap: 10px;
  }
  .icon-left{
    cursor: pointer;
  }
  header i {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .action-buttons select,
  .action-buttons input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    margin-right: 10px;
  }
  
  .action-buttons .create-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-buttons .create-btn:hover {
    background-color: #0056b3;
  }
  
  /* Bảng */
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  th, td {
    text-align: center;
    padding: 12px;
    word-wrap: break-word;
  }
  
  th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  td .toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Hành động */
  td .icon-btn {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .icons-btn{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .icon-btn.config {
    background-color: #28a745;
    color: white;
    width: 100%;
  }
  
  .icon-btn.edit {
    background-color: #007bff;
    color: white;
    width: max-content;
  }
  
  .icon-btn.delete {
    background-color: #dc3545;
    color: white;
    width: max-content;
  }
  
  .icon-btn:hover {
    opacity: 0.8;
  }
  
  /* Phân trang */
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #e8f1ff;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  