body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f1ff;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box-container {
    width: 80%;
    margin: 20px ;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  a.add-box {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  a.add-box:hover {
    background-color: #0056b3;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  button.action {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .box-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  button.config {
    background-color: #28a745;
    color: #fff;
    width: 100%;
  }
  
  button.config:hover {
    background-color: #218838;
  }
  
  a.edit {
    background-color: #007bff;
    color: #fff;
    width: 40%;
    text-decoration: none;
    border-radius:10px;
    text-align: center;
    padding:8px 12px
  }
  
  a.edit:hover {
    background-color: #0056b3;
  }
  
  button.delete {
    background-color: #dc3545;
    color: #fff;
    width: 50%;
    border-radius: 10px
  }
  
  button.delete:hover {
    background-color: #c82333;
  }
  
  .toggle {
    cursor: pointer;
  }
  